@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  src: url("/fonts/subset-Rubik-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/subset-Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/subset-Rubik-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/subset-Rubik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .active-radio {
    @apply group-hover:text-accent-purple group-hover:bg-accent-purple group-hover:bg-opacity-10 group-has-[:checked]:bg-accent-purple group-has-[:checked]:text-neutral-100;
  }

  .wrong-answer {
    border: 4px solid theme("colors.error-red") !important;
    cursor: auto !important;
  }

  .wrong-answer > div {
    background-color: theme("colors.error-red") !important;
    color: theme("colors.neutral-100") !important;
  }

  .wrong-answer::after {
    flex-shrink: 0;
    content: "";
    background-image: url("/images/icon-incorrect.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.875rem;
    height: 1.875rem;
    margin-left: auto;
  }

  .right-answer {
    border: 4px solid theme("colors.correct-green") !important;
    cursor: auto !important;
  }

  .right-answer > div {
    background-color: theme("colors.correct-green") !important;
    color: theme("colors.neutral-100") !important;
  }

  .correct-answer::after {
    flex-shrink: 0;
    content: "";
    background-image: url("/images/icon-correct.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.875rem;
    height: 1.875rem;
    margin-left: auto;
  }
}
